body {
	background: #51A8FF;
	margin: 80px auto;
	width: 500px;
	color: white;
}
	
h1 {
	text-align: center;
}

.fa { display: none;	
}
	
a {
	color:white;
}
label {
	text-align: center;
	display: block;
}